@import "../parameters/param";

.dis-flex{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.direction-row{
  flex-direction: row;
}

.container{
  margin: 20px;
}

.clear{
  clear:both;
}

.login .login-container .main .form .el-input__inner{
  height: 48px;
  border-radius: 4px;
	border: solid 1px #c4c8cc;
}

.login .login-container .main .form .el-form-item__label{
  font-size: 16px;
  color: #212121;
}

.login .login-container .main .form .el-button{
  border: none;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
  color: #3599e6;
  background-color: #ffffff !important;
}

.borderBottomHalf{
  &:before{
      content: " ";
      position: absolute;
      left: 0;
      bottom:-1px;
      right: 0;
      height: 1px;
      border-top: 1px solid $border-color;
      color: $border-color;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      z-index: 2;
  }
}

.borderRightHalf{
  &:after{
      content: " ";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      bottom:0;
      border-right: 1px solid $border-color;
      color: $border-color;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
      z-index: 2;
  }
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.no-select{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.table{
  padding: 16px 0 $base-width * 2 0;
}

.page-oper{
  position: relative;
  margin-top: 6px;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 100%;
  .page-title{
    font-size: 22px;
    color: #212121;
    display: inline-block;
    margin: 0 15px 0 0;
    float: left;
  }
  .page-methods{
    display: inline-block;
    float: left;
    li{
      float: left;
      margin-right: 10px;
    }
  }
}

.el-button{
  height: 28px;
  padding-top: 0;
  padding-bottom: 0;
}

.page-20{
  margin-top: 20px;
}

.pointer{
  cursor: pointer;
}

.admin-table{
  width: 100%;
  overflow: auto;
}
.admin-main-table{
  border: 1px solid #dce2e6;
  font-size: 13px;
  color: #212121;
  text-align: left;
  min-width: 100%;
  tr{
    &:not(:last-of-type){
      border-bottom: 1px solid #dce2e6;
    }
    th{
      padding: 12px;
      white-space: nowrap;
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: #eef1f6;
      &:not(:last-of-type){
        border-right: 1px solid #dce2e6;
      }
    }
    td{
      padding:0 12px;
      height: 36px;
      line-height: 36px;
      white-space: nowrap;
      overflow: hidden;
      max-width: 300px;
      text-overflow: ellipsis;
      transition: background-color .25s ease;
      background-color: #fff;
      &:not(:last-of-type){
        border-right: 1px solid #dce2e6;
      }
      &:not(.operation){
        max-width: 300px;
      }
    }
    &:nth-child(even){
      td{
        background-color: #fafafa;
      }
    }

    &:hover{
      td{
        background-color: #eef1f6;
      }
    }
  }
  .forbid-bg{
    td{
      background-color: #eef1f6;
    }
    &:nth-child(even){
      td{
        background-color: #eef1f6;
      }
    }
  }
  thead{
    tr{
      border-bottom: 1px solid #dce2e6;
    }
  }
}

.router{
  color: #3599e6;
  >span{
    cursor: pointer;
  }
}

.default-detail{
  width: 100%;
  padding: 16px 0 0 0;
  margin: 0 0 16px 0;
  border-bottom: 1px solid #e1e4e6;
  float: left;
  .el-row{
    margin: 0;
    line-height: 35px;
    border: 1px solid #e1e4e6;
    .el-col{
      text-indent: 12px;
      &:not(:last-of-type){
        border-right: 1px solid #e1e4e6;
      }
    }
    .label{
      background-color: #f0f0f0;
    }
    &:not(:last-of-type){
      border-bottom: none;
    }
    &:last-of-type{
      .label{
        line-height: 34px;
      }
    }
  }
  .textarea{
    .label{
      position: absolute;
      padding: 0;
      height: 100%;
      top: 0;
      left: 0;
    }
    .text{
      line-height: normal;
      padding: 8.8px 12px;
      text-indent: 0px;
      float: right;
      min-height: 35px;
    }
  }
}

.el-select{
  width: 100%;
}

.blank{
  height: 36px;
}

.my-button{
  height: 34px!important;
  line-height: 34px!important;
}

.el-1-9{
  width: 11.1%;
}

.el-8-9{
  width: 88.9%;
}
.el-dialog{
  width: 30%;
  top: 35% !important;
}
.el-dialog__footer{
  text-align: center;
}
.el-date-editor{
  width: 100%!important;
}

.map-dialog{
  width: 80%;
  top: 15% !important;
}
.nothing-data{
  text-align: center;
  background-color: #f0f0f0 !important;
}

.base-size{
  font-size:$base-size;
}
.mid-size{
  font-size:$mid-size;
}
.big-size{
  font-size: $big-size;
}
.biggest-size{
  font-size: 20px;
}
.center{
  text-align: center;
}
.color9{
  color:#999;
}
.color6{
  color:#666;
}
.display-none{
  display:none;
}

.user-info-container{
  background:#fbfcfd;
  min-height:889px;
  .user-info-cont{
    border-bottom:0;
    width:70%;
    padding-left:20px;
    padding-bottom:30px;
    .el-row{
      border:0;
      .el-col{
        border:0 !important;
      }
      .label{
        color:#666;
        background: #fff;
      }
      .speColor{
        color:#5a95c2;
      }
      .page-oper{
        margin-top:0;
      }
    }
  }
  .page-oper{
    margin-top:0;
  }
  .admin-table{
    background:#fff;
    padding-bottom:20px;
  }
  .user-center-bottom{
    max-height:570px;
    overflow: hidden;
    .page-oper{
      margin-bottom:15px;
      .big-size{
        float:left;
        margin-right:20px;
      }
    }
    .inBox{
      padding:20px 20px 20px 30px;
      box-shadow: 0 2px 10px 0 rgba(102, 119, 128, 0.36);
      -webkit-box-shadow: 0 2px 10px 0 rgba(102, 119, 128, 0.36);
      -moz-box-shadow: 0 2px 10px 0 rgba(102, 119, 128, 0.36);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border: solid 1px #f0f3f5;
      background:#fff;
      margin-bottom:20px;
      position: relative;
      .inBoxContent{
        color:#666;
        line-height:24px;
        padding-top:12px;
        padding-bottom:22px;
      }
      .color9{
        color:#999;
      }
      .inBoxSpan{
        display:inline-block;
        position:absolute;
        top:0;
        right:20px;
        border-bottom:8px solid #fff;
        border-right:8px solid #f56767;
        border-left:8px solid #f56767;
        width:16px;
        background:#f56767;
        height:32px;
      }
    }
    .docShare{
      border:0;
      tr {
        border-bottom:1px solid #dce2e6;
        line-height: 35px;
        color:#212121;
        th{
          text-align:left;
          &:first-child{
            padding-left:20px;
          }
        }
      }
      tbody{
        tr{
          td:first-child{
            padding-left:20px;
            color:#212121;
            &:hover {
              color: #3599e6;
              cursor: pointer;
            }
          }
        }
      }
    }
    .user-bottom-right{
      background: #fff;
      box-shadow: 0px 2px 10px 0px rgba(102, 119, 128, 0.36);
      -webkit-box-shadow: 0px 2px 10px 0px rgba(102, 119, 128, 0.36);
      -moz-box-shadow: 0px 2px 10px 0px rgba(102, 119, 128, 0.36);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border: solid 1px #f0f3f5;
      padding:15px 20px 30px;
    }
  }
}
.el-input.is-disabled .el-input__inner {
  color: #333!important;
}

.list-option{
  position: relative;
  z-index: 2;
}
.siteMsgWrap {
  .siteMsgTop {
    padding:24px 20px;
    border-bottom:1px solid #ccc;
    .page-oper{
      width:10%;
    }
    .screening{
      .el-form--inline {
        .el-form-item{
          margin-bottom:0;
        }
      }
    }
  }
  .siteMsgBottom{
    border-bottom:1px solid #ccc;
    margin-bottom:14px;
    width:100%;
    .siteMsgList{
      box-shadow: 0px 1px 1px 0px rgba(102, 119, 128, 0.26);
      -webkit-box-shadow: 0px 1px 1px 0px rgba(102, 119, 128, 0.26);
      -moz-box-shadow: 0px 1px 1px 0px rgba(102, 119, 128, 0.26);
      line-height: 35px;
      padding:20px 40px;
      &:nth-child(even){
        background: #f0f5fa;
      }
      .latest{
        color:#f56767;
      }
      &:nth-of-type(10){
        margin-bottom:20px;
      }
    }
  }
}


.z1-table{
  z-index: 1;
}

.el-loading-mask{
  z-index: 999;
}
