@import  "../parameters/_param.scss";
.admin-table{
  width: 100%;
  overflow: auto;
}
.admin-main-table{
  border: 1px solid #dce2e6;
  font-size: 13px;
  color: #212121;
  text-align: left;
  tr{
    &:not(:last-of-type){
      border-bottom: 1px solid #dce2e6;
    }
    th{
      padding: 12px;
      white-space: nowrap;
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: #eef1f6;
      &:not(:last-of-type){
        border-right: 1px solid #dce2e6;
      }
    }
    td{
      padding:0 12px;
      height: 36px;
      line-height: 36px;  
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: background-color .25s ease;
      background-color: #fff;
      &:not(:last-of-type){
        border-right: 1px solid #dce2e6;
      }
      &:not(.operation){
        max-width: 300px;
      }
    }
    &:nth-child(even){
      td{
        background-color: #fafafa;
      }
    }

    &:hover{
      td{
        background-color: #eef1f6;
      }
    }
  }
  thead{
    tr{
      border-bottom: 1px solid #dce2e6;
    }
  }
}

.router{
  color: #3599e6;
}