// 颜色
$main-color: #3599e6;

$font-color: #212121;

$font-white: #fff;

$border-color: #c2c8cb;

$btn-color: #3599e6;

// 大小
$base-width: 10px;

$border-width: 1px;

// 字体
$base-size: 14px;

$small-size: 12px;

$mid-size: 16px;

$big-size: 18px;